---
layout: default
permalink: /tags
title: Libellés
---

<h2>Libellés</h2>

<ul>
{% for tag in site.tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  {% capture tag_slug %}{{ tag_name | slugize }}{% endcapture %}
<li><a href="#{{tag_slug}}">{{ tag_name }}</a>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    {% capture tag_slug %}{{ tag_name | slugize }}{% endcapture %}
        
    <h3 id="{{tag_slug}}" class="tag-head">
      <i class="material-icons">label_outline</i>
      {{ tag_name }}
    </h3>
    <ul>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </article>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>