<link href="https://www.googleapis.com/generate_204" rel="prefetch">
<link media="screen" href="{{ '/assets/css/core.css?v=' | append: site.github.build_revision | relative_url }}" rel="prefetch">
<link media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="prefetch">
<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="prefetch">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto|Roboto+Mono" rel="prefetch">
<link href="https://disqusads.com/enable-logging" rel="prefetch">
<link href="https://regis.disqus.com/embed.js" rel="prefetch">
<link href="https://www.google-analytics.com/analytics.js" rel="prefetch">
<link href="https://ssl.google-analytics.com/ga.js" rel="prefetch">
<link href="https://disqus.com/next/config.js" rel="prefetch">
<link href="https://c.disquscdn.com/next/current/embed/lang/fr.js" rel="prefetch">
<link href="https://c.disquscdn.com/next/current/home/js/apps/initializer.js" rel="prefetch">
<link href="https://links.services.disqus.com/api/domains" rel="dns-prefetch">
<link href="http://cse.google.com/adsense/search/async-ads.js" rel="prefetch">
<link href="http://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png" rel="prefetch">
<link href="http://www.google.com/cse/static/images/1x/googlelogo_tgrey_46x15dp.png" rel="prefetch">
<link href="https://www.google.com/uds/css/clear.gif" rel="prefetch">
<link href="https://apis.google.com/js/api.js" rel="prefetch">

<link rel="prerender" href="/blog">
