<div id="header_wrap" class="outer">
  <header class="inner">
    <span id="project_title">
      <a href="{{site.base_url}}/blog/" class="header-text">{{ site.title | default: site.github.repository_name }}</a>
    </span>
    <div class="header_inner">
      <span id="project_tagline" class="header-text">{{ site.description | default: site.github.project_tagline }}</span>
      <div id="project_links">
        {% if site.show_downloads %}
        <section id="downloads">
          <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
          <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
        </section>
        {% endif %}
        <div id="links">
          <a href="{{site.social.gplus}}" target="_blank"><img src="{{site.baseurl}}/assets/img/gp_64.png" alt="Google+" width="32" height="32"/></a>
          <a href="{{site.social.fb}}" target="_blank"><img src="{{site.baseurl}}/assets/img/fb_64.png" alt="Facebook" width="32" height="32"/></a>
          <a href="https://github.com/regisd" target="_blank"><img src="{{site.baseurl}}/assets/img/gh_64.png" alt="Github" width="32" height="32"/></a>
        </div>
        <div id="categories" class="header-text">
          <i class="material-icons">folder_open</i>
          <a href="{{site.baseurl}}/categorie" class="header-text">
            Catégories
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="search_container outer">
    <div id="gcs-search-box" class="search_container inner">
      <gcse:searchbox></gcse:searchbox>
    </div>
  </div>
</div>