---
---

@import "{{ site.theme }}";
@import "palette";

#forkme_banner{
  display: none;
}
#header_wrap,
#footer_wrap,
body {
  background: $primary-color-dark;
}
body {
  color: $primary-text-color;
}
#project_title,
#project_tagline {
  text-shadow: none;
}
#main_content_wrap {
  background: #fcfcfc;
}
a {
  color: $primary-color;
}
a:hover, a:focus {
  font-weight: normal;
  cursor: pointer;
}
.header-text {
  color: $primary-color-text;
}
h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus {
  font-weight: bold;
}
.post-meta {
  color: $secondary-text-color;
}
.post-meta > * {
  vertical-align: middle;
}
.post-meta > a {
  color: $accent-color;
}
.post-meta > a:hover {
  text-decoration: none;
}
#disqus_thread {
 min-height: 615px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.search_container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.search_container td {
  border: none;
}
.search_container .gsc-control-cse,
.search_container .gsc-search-box {
  border: none;
  background: none;
  padding: 0;
}
.search_container input.gsc-search-button {
  background: $accent-color;
  color: $primary-color-text;
}
.search_container a.gs-title,
.search_container .test_titleLink {
  color: $primary-color;
}
.search_container .gsc-clear-button {
  margin-right: 32px;
}
.search_container a.gs-title *,
.search_container .gsc-cursor-box .gsc-cursor-current-page {
  color: $accent-color;
}
.search_container .gs-result a.gs-visibleUrl,
.search_container .gs-result .gs-visibleUrl {
  color: #757575;
}