---
---
@import "palette";
@import "highlight";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display: block
}

ol,ul {
list-style: none
}

table {
border-collapse: collapse;
border-spacing: 0
}

body {
  color: $primary-text-color;
  background: $primary-color-dark;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5
}

#project_title,
#project_tagline,
h1 {
font-weight: 700;
  font-family: 'Libre Franklin';
letter-spacing: -1px
}

h1 {
font-size: 36px;
font-weight: 700
}

h2 {
padding-bottom: 10px;
font-size: 32px;
background: url(../images/bg_hr.png) repeat-x bottom
}

h3 {
font-size: 24px
}

h4 {
font-size: 21px
}

h5 {
font-size: 18px
}

h6 {
font-size: 16px
}

p {
margin: 10px 0 15px
}

footer p {
  color: $primary-color-light;
}

footer a {
  color: $primary-color-light;
  text-decoration: underline;
}

a {
text-decoration:none;
  color: $primary-color;
}

a:hover, a:focus {
text-decoration:underline;
font-weight:bold
}


em,cite {
font-style: italic
}

strong {
font-weight: bold
}

img {
position: relative;
margin: 0 auto;
max-width: 739px;
padding: 5px;
border: 1px solid #ebebeb
}

p img {
display: inline;
margin: 0;
padding: 0;
vertical-align: middle;
text-align: center;
border: none
}

pre, code {
  font-family: 'Roboto Mono', monospace;
font-size: 14px
}

pre {
padding: 10px;
overflow: auto
}

code {
padding: 3px;
margin: 0 3px
}

pre code {
display: block
}

blockquote {
margin-bottom: 20px;
padding: 0 0 0 20px;
  border-left: 3px solid $primary-color-light;
}

ul,ol,dl {
margin-bottom: 15px
}

ul {
list-style-position: inside;
list-style: disc;
padding-left: 20px
}

ol {
list-style-position: inside;
list-style: decimal;
padding-left: 20px
}

dl dt {
font-weight: bold
}

dl dd {
padding-left: 20px;
font-style: italic
}

dl p {
padding-left: 20px;
font-style: italic
}

hr {
  border-color: $primary-color;
}

table {
border: 1px solid $divider-color;
margin-bottom: 20px;
text-align: left
}

th {
font-family: 'Lucida Grande','Helvetica Neue',Helvetica,Arial,sans-serif;
padding: 10px;
  background: $primary-color-light;
  color: white;
}

td {
padding: 10px;
  border: 1px solid $divider-color;
}

form {
  background: $primary-color-light;
padding: 20px
}

.outer {
width: 100%
}

.inner {
position:relative;
max-width:640px;
padding:20px 10px;
margin:0 auto
}

#header_wrap .inner {
padding:50px 10px 30px
}

#project_title {
margin:0;
color:#fff;
font-size:42px;
font-weight:700
}

#project_tagline {
color:#fff;
font-size:24px;
font-weight:300;
background:none
}

#main_content_wrap {
background:#f2f2f2;
border-top:1px solid #111;
border-bottom:1px solid #111
}

#main_content {
padding-top:40px
}

@media screen and (max-width: 992px) {
img {
max-width:100%
}
}

@media screen and (max-width: 480px) {
body {
font-size:14px
}

#downloads {
display:none
}

.inner {
min-width:320px;
max-width:480px
}

#project_title {
font-size:32px
}

h1 {
font-size:28px
}

h2 {
font-size:24px
}

h3 {
font-size:21px
}

h4 {
font-size:18px
}

h5 {
font-size:14px
}

h6 {
font-size:12px
}

code,pre {
font-size:11px
}
}

@media screen and (max-width: 320px) {
body {
font-size:14px
}

#downloads {
display:none
}

.inner {
min-width:240px;
max-width:320px
}

#project_title {
font-size:28px
}

h1 {
font-size:24px
}

h2 {
font-size:21px
}

h3 {
font-size:18px
}

h4 {
font-size:16px
}

h5 {
font-size:14px
}

h6 {
font-size:12px
}

code,pre {
min-width:240px;
max-width:320px;
font-size:11px
}
}
#forkme_banner{
  display: none;
}
#header_wrap,
#footer_wrap{
  min-width: 360px;
}

img {
  border: none;
}
#project_title,
#project_tagline {
  text-shadow: none;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#project_links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#project_links img {
    box-shadow: none;
    -webkit-box-shadow: none;
}
#main_content_wrap {
  background: #fcfcfc;
  border: none;
}
a:hover, a:focus {
  font-weight: normal;
  cursor: pointer;
}
.header-text {
  color: $primary-color-text;
}
h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus {
  font-weight: bold;
}
.post-meta {
  color: $secondary-text-color;
}
.post-meta > * {
  vertical-align: middle;
}
.post-meta > a {
  color: $accent-color;
}
.post-meta > a:hover {
  text-decoration: none;
}
#disqus_thread {
 min-height: 615px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.search_container {
  background: white;
}
#gcs-search-box {
  height: 45px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 0 !important;
}
.search_container td {
  border: none;
}
.search_container .gsc-control-cse,
.search_container .gsc-search-box {
  border: none;
  background: none;
  padding: 0;
}
.search_container input.gsc-search-button {
  background: $accent-color;
  color: $primary-color-text;
}
.search_container a.gs-title,
.search_container .test_titleLink {
  color: $primary-color;
}
.search_container .gsc-clear-button {
  margin-right: 32px;
}
.search_container a.gs-title *,
.search_container .gsc-cursor-box .gsc-cursor-current-page {
  color: $accent-color;
}
.search_container .gs-result a.gs-visibleUrl,
.search_container .gs-result .gs-visibleUrl {
  color: $secondary-text-color;
}
.material-icons {
  vertical-align: middle;
}