---
---

@import "{{ site.theme }}";
@import "palette";

#forkme_banner{
  display: none;
}
#header_wrap,
#footer_wrap,
body {
  background: $primary-color-dark;
}
body {
  color: $primary-text-color;
}
#project_title,
#project_tagline {
  text-shadow: none;
}
#main_content_wrap {
  background: #fcfcfc;
}
a {
  color: $primary-color;
}
a:hover, a:focus {
  font-weight: normal;
  cursor: pointer;
}
.header-text {
  color: $primary-color-text;
}
h1 a:hover, h1 a:focus {
  font-weight: bold;
}
.post-meta {
  color: $secondary-text-color;
}
.post-meta > * {
  vertical-align: middle;
}
.post-meta > a {
  color: $accent-color;
}
.post-meta > a:hover {
  text-decoration: none;
}
#disqus_thread {
 min-height: 615px;
}
