<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

{% seo %}
{% include head_html.html %}
{% feed_meta %}
  </head>

  <body>

{% include mat_header.html %}

    <div id="main_content_wrap" class="outer">
      <div class="search_container" class="inner">
        <gcse:searchresults></gcse:searchresults>
      </div>
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

{% include mat_footer.html %}
  </body>
<link media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto|Roboto+Mono" rel="stylesheet">
</html>