<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

{% include head_html.html %}
{% seo %}

    <script>
    var loadScriptAsync = function(uri) {
      return new Promise((resolve, reject) => {
        var tag = document.createElement('script');
        tag.src = uri;
        tag.async = true;
        tag.onload = () => {
          resolve();
        };
        document.getElementsByTagName('head')[0].appendChild(tag);
      });
    }
    var loadScriptsAsync = function(uris) {
      return Promise.all(uris.map(loadScriptAsync));
    }
    </script>

    <link rel="stylesheet"
          href="http://sophilabs.github.io/jquery-counter/jquery.counter-analog.css"/>
  </head>

  <body>

{% include mat_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <div class="search_container">
        <gcse:searchresults></gcse:searchresults>
      </div>
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

{% include mat_footer.html %}

  </body>
</html>