<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% include head.html %}
{% seo %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async src="/assets/js/jquery-counter.js"></script>
    <link rel="stylesheet"
          href="http://sophilabs.github.io/jquery-counter/jquery.counter-analog.css"/>
  </head>

  <body>

{% include mat_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <div class="search_container">
        <gcse:searchresults></gcse:searchresults>
      </div>
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

{% include mat_footer.html %}

  </body>
</html>