---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post-meta">
  {% for category in page.categories %}
    <i class="material-icons">folder</i>
    <a href="{{site.baseurl}}/categorie#{{category|slugize}}">{{ category }}</a>
  {% endfor %}
  
  {% for tag in page.tags %}
    <i class="material-icons">label_outline</i>
     <a href="{{site.baseurl}}/tag#{{tag|slugize}}">{{ tag }}</a>
  {% endfor %} 
</div>

{{ content }}

<div id="disqus_thread"></div>
<script defer>
var disqus_config = function () {
this.page.url = 'http://regis.decamps.info{% if page.permalink %}{{ page.permalink }}{% else %}{{ page.url }}{% endif %}';
this.page.identifier = '{% if page.disqus_id %}{{ page.disqus_id }}{% else %}{{ page.url }}{% endif %}';
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://regis.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
